.emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;
  padding-top: 4rem;
}

.emptyContent > img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.strong3 {
  color: var(--gray-300);
  font-weight: bold;
}

.strong4 {
  color: var(--gray-300);
}
